.calendar {
    width: 100%;
}

.calendar__header {
    &__left {
        display: flex;
        align-items: center;
        height: 28px;
        line-height: 28px;
    }

    &__icon {
        width: 28px;
        height: 28px;
        margin-right: 12px;
        line-height: 28px;
        text-align: center;
        font-size: 12px;
        border-radius: 50%;
        user-select: none;
        cursor: pointer;

        &:not(:first-child) {
            margin: 0 12px;
        }

        &:hover {
            background: #ccc;
        }
    }

    &__value {
        font-size: 20px;
    }

    &__btn {
        padding: 0 15px;
        line-height: 28px;
        background: #eee;
        cursor: pointer;
        border: 0;

        &:hover {
            background: #ccc;
        }
    }
}

.calendar__week {
    display: flex;
    width: 100%;
    padding: 0;
    box-sizing: border-box;

    &__item {
        flex: 1;
        padding: 20px 16px;
        text-align: left;
        color: #7d7d7f;
    }
}

.calendar__day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1px;
    background-color: #eee;
    border: 1px solid #eee;

    &__cell {
        flex: 1;
        height: 100px;
        background-color: white;
        color: #ccc;
        overflow: hidden;

        &--active {
            color: #000;
        }

        &--active-bg {
            background-color: #e6f4ff;
        }

        &__wrap {
            padding: 10px;
        }

        &__date {
        
            &--active {
                width: 28px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                color: #fff;
                background: blue;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}